connection-info.txt
terraform.exe
.terraform/providers/registry.terraform.io/hashicorp/aws/5.86.0/windows_amd64/LICENSE.txt
terraform.tfstate
.terraform/modules/modules.json
.terraform/providers/registry.terraform.io/hashicorp/aws/5.86.0/windows_amd64/terraform-provider-aws_v5.86.0_x5.exe
.terraform.lock.hcl
